
body {
	padding-top: 40px;
}


.carousel-caption {
    background: rgba(0,0,0,0.25);
}

/*
div.c_wrapper {
	width: 80%;
	margin: auto;
}

.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
width: 100%;
margin: auto;
}
*/